body,
.mainContainer {
    background: $gray-2;
}

.docMainWrapper.wrapper {
    flex: 1 0 auto;
    margin: 0 auto;

    @media #{$medium-up} {
        padding-top: 40px;
        padding-left: 0;
    }
}

.doc.separateOnPageNav.sideNavVisible .navPusher .mainContainer {
    @media #{$large-up} {
        padding-left: 20px;
    }
}
