.doc.separateOnPageNav .docsNavContainer {
    @media #{$medium-up} {
        flex: 0 0 290px;
        margin-top: 0;
        margin-right: 1rem;
    }
}

.docsSliderActive nav.toc .navBreadcrumb,
.doc.separateOnPageNav .docsNavContainer,
.navigationSlider .slidingNav ul {
    @media #{$medium-down} {
        z-index: 1;
        background: $gray-3;
    }
}

nav.toc {
    width: auto;

    &:last-child {
        padding-bottom: 0;
    }

    .toggleNav {
        background: transparent;

        @media #{$medium-up} {
            padding: 1.25rem;
        }

        .navGroup.navGroupActive {
            margin-bottom: 1.25rem;
            box-shadow: 0 1px 2px 0 transparentize($gd-color-dark, 0.8);
            background: $gd-color-white;

            h3 {
                padding: 1.25rem 1.25rem 0;
                color: $gd-color-dark;
                font-size: 18px;
                font-weight: bold;
                background: transparent;
            }

            ul li {
                font-size: 16px;
                line-height: 22px;

                a {
                    position: relative;
                    margin: 0.5rem 1.25rem 0.2rem;
                    padding: 0 0 0.3rem;
                    text-decoration: none;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 0;
                        width: 0;
                        border-bottom: 2px solid transparent;
                        transition: .2s width;
                    }

                    &,
                    &.navItemActive {
                        color: $gd-color-text;
                    }

                    &:hover,
                    &.navItemActive {
                        &::before {
                            width: 100%;
                            border-bottom-color: $gd-color-highlight;
                        }
                    }
                }
            }
        }

        .navToggle {
            width: 20px;
            height: 20px;

            &,
            .docsSliderActive & {
                &::before,
                &::after,
                i {
                    position: absolute;
                    width: 100%;
                    height: 0;
                    top: 10px;
                    right: 0;
                    left: 0;
                    opacity: 1;
                    border: none;
                    border-bottom: 2px solid $gray-4;
                    transform: rotate(0);
                    transition: all 0.4s;
                }
            }

            &::before {
                margin-top: -6px;
            }

            &::after {
                margin-top: 6px;
            }

            i {
                &::before,
                &::after {
                    display: none;
                }
            }

            .docsSliderActive & {
                &::before,
                &::after {
                    margin-top: 0;
                }

                &::before {
                    transform: rotate(45deg);
                }

                &::after {
                    transform: rotate(-45deg);
                }

                i {
                    opacity: 0;
                }
            }
        }
    }

    section .navGroups {
        @media #{$medium-down} {
            padding-top: 64px;
        }
    }
}

.navBreadcrumb {
    .docsNavContainer nav.toc & {
        height: 50px;
        align-items: center;
        box-shadow: $shadow;
        font-size: 0.95rem;
        background-color: $gray-3;
    }

    h2 i {
        display: none;
    }
}

.onPageNav {
    @media #{$large-up} {
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top: 104px;
        flex: 0 0 290px;
        overflow-y: auto;
        max-height: calc(100vh - 104px);
        padding-top: 1.25rem;

        > ul {
            padding: 10px 0 2px 15px;
            border-left: 1px solid transparentize($gd-color-dark, 0.8);
        }

        a {
            color: $gd-color-text;
        }

        ul {
            li {
                padding-bottom: 12px;
                font-size: 12px;
                line-height: 14px;
            }

            ul {
                padding: 8px 0 0 20px;

                li {
                    padding-bottom: 8px;
                }
            }
        }
    }
}

.doc.separateOnPageNav {
    @media #{$large-up} {
        &.sideNavVisible .navPusher .mainContainer {
            flex: 1 auto;
            max-width: 100%;
            min-width: 0;
            padding: 0 40px 50px;
        }

        .docsNavContainer {
            flex: 0 0 290px;
            margin: 0;
        }

        nav.toc:last-child {
            width: auto;
        }
    }
}

.toggleNavOpen {
    overflow: hidden;
}
