/*
For now build using `sass static/css/custom.scss static/css/custom.css`
*/
/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/
@font-face {
  src: url("../fonts/Avenir-LT-W02-55-Roman.eot?#iefix");
  src: url("../fonts/Avenir-LT-W02-55-Roman.eot?#iefix") format("eot"), url("../fonts/Avenir-LT-W02-55-Roman.woff") format("woff"), url("../fonts/Avenir-LT-W02-55-Roman.ttf") format("truetype"), url("../fonts/Avenir-LT-W02-55-Roman.svg#Avenir-LT-W02-55-Roman") format("svg");
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400; }
@font-face {
  src: url("../fonts/Avenir-LT-W02-85-Heavy.eot?#iefix");
  src: url("../fonts/Avenir-LT-W02-85-Heavy.eot?#iefix") format("eot"), url("../fonts/Avenir-LT-W02-85-Heavy.woff") format("woff"), url("../fonts/Avenir-LT-W02-85-Heavy.ttf") format("truetype"), url("../fonts/Avenir-LT-W02-85-Heavy.svg#Avenir-LT-W02-85-Heavy") format("svg");
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 700; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/Avenir-LT-W02-55-Roman.svg#Avenir-LT-W02-55-Roman") format("svg");
    font-style: normal;
    font-weight: 400; }
  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/Avenir-LT-W02-85-Heavy.svg#Avenir-LT-W02-85-Heavy") format("svg");
    font-style: normal;
    font-weight: 700; } }
body,
h1,
h2,
h3,
h4 {
  font-family: avenir, "Helvetica Neue", arial, sans-serif; }

body,
.mainContainer {
  color: #000;
  font-size: 16px; }

h1, .mainContainer .wrapper .post .postHeader h1,
h2, .mainContainer .wrapper .post h2,
h3, .mainContainer .wrapper .post h3 {
  padding: 0;
  color: #000; }

h1,
.mainContainer .wrapper .post .postHeader h1 {
  margin: 1rem 0 3rem 0;
  font-size: 3.125rem;
  font-weight: bold; }

h2,
.mainContainer .wrapper .post h2 {
  margin: 2rem 0;
  font-size: 2.5rem; }

h3,
.mainContainer .wrapper .post h3 {
  margin: 1.9rem 0;
  font-size: 1.5rem;
  font-weight: bold; }

.mainContainer .wrapper p,
.blockElement p {
  margin: 0.7rem 0;
  padding: 0; }

.fixedHeaderContainer {
  height: 64px;
  padding: 15px 0;
  background: #fdfdfd; }
  .fixedHeaderContainer header img,
  .fixedHeaderContainer .logo {
    width: 116px;
    height: 34px; }
  .fixedHeaderContainer header {
    display: flex; }
    .fixedHeaderContainer header > a {
      flex: 0 0 auto; }
    .fixedHeaderContainer header a .logo {
      opacity: 0.9; }
    .fixedHeaderContainer header a:hover .logo {
      opacity: 1; }
    .fixedHeaderContainer header h2,
    .fixedHeaderContainer header h3 {
      color: #464e56; }
    .fixedHeaderContainer header h2 {
      font-size: 16px; }
    .fixedHeaderContainer header h3 {
      font-family: avenir, "Helvetica Neue", arial, sans-serif;
      font-size: 14px; }

.navigationSlider {
  position: relative;
  flex: 1 1 auto; }
  .navigationSlider .slidingNav ul {
    justify-content: center; }
    @media only screen and (max-width: 735px) {
      .navigationSlider .slidingNav ul {
        margin-top: 64px;
        background-color: rgba(250, 250, 250, 0.9); } }
    @media only screen and (min-width: 736px) {
      .navigationSlider .slidingNav ul {
        margin-right: 218px; } }
  .navigationSlider .slidingNav ul li {
    padding-left: 1.4rem;
    padding-right: 1.4rem; }
    @media only screen and (min-width: 736px) {
      .navigationSlider .slidingNav ul li {
        flex: 0 0 auto; } }
    .navigationSlider .slidingNav ul li a {
      margin: 0;
      padding-left: 1.4rem;
      padding-right: 1.4rem;
      border-bottom: 2px solid transparent;
      color: rgba(0, 0, 0, 0.7);
      font-size: 0.95rem; }
      @media only screen and (max-width: 735px) {
        .navigationSlider .slidingNav ul li a {
          height: 1.5rem;
          padding-top: 0;
          padding-bottom: 0;
          line-height: 1.5rem; } }
    .navigationSlider .slidingNav ul li a:focus,
    .navigationSlider .slidingNav ul li a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a {
      border-bottom-color: #14b2e2;
      color: rgba(0, 0, 0, 0.9);
      background: transparent;
      transition: all 100ms ease-in; }

.navSearchWrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 218px; }

.navPusher {
  padding-top: 88px; }
  @media only screen and (min-width: 736px) {
    .navPusher {
      padding-top: 64px; } }

footer.nav-footer {
  background: linear-gradient(to bottom, #1e2025 0%, #0a0d14 100%); }

h1,
.mainContainer .wrapper .post h1,
.mainContainer .wrapper .post h2,
.mainContainer .wrapper .post h3 {
  color: #1e2025; }

nav.toc .toggleNav .navGroup.navGroupActive {
  background: #e6e6e6; }
  nav.toc .toggleNav .navGroup.navGroupActive h3 {
    background: linear-gradient(to bottom, #1e2025 0%, #0a0d14 100%); }

body,
.mainContainer {
  background: #fafafa; }

.docMainWrapper.wrapper {
  margin: 0; }
  @media only screen and (min-width: 736px) {
    .docMainWrapper.wrapper {
      padding-left: 0; } }

@media only screen and (min-width: 1024px) {
  .doc.separateOnPageNav.sideNavVisible .navPusher .mainContainer {
    padding-left: 20px; } }

@media only screen and (min-width: 736px) {
  .doc.separateOnPageNav .docsNavContainer {
    flex: 0 0 290px;
    margin-right: 1rem; } }

@media only screen and (max-width: 735px) {
  .docsSliderActive nav.toc .navBreadcrumb,
  .doc.separateOnPageNav .docsNavContainer,
  .navigationSlider .slidingNav ul {
    z-index: 1;
    background: #fdfdfd; } }

nav.toc {
  width: auto; }
  nav.toc .toggleNav {
    background: transparent; }
    @media only screen and (min-width: 736px) {
      nav.toc .toggleNav {
        padding: 1.25rem; } }
    nav.toc .toggleNav .navGroup.navGroupActive {
      margin-bottom: 1.25rem;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      background: #fff; }
      nav.toc .toggleNav .navGroup.navGroupActive h3 {
        padding: 1.25rem 1.25rem 0;
        color: #000;
        font-size: 18px;
        font-weight: bold;
        background: transparent; }
      nav.toc .toggleNav .navGroup.navGroupActive ul li {
        font-size: 16px;
        line-height: 22px; }
        nav.toc .toggleNav .navGroup.navGroupActive ul li a {
          position: relative;
          margin: 0.5rem 1.25rem 0.2rem;
          padding: 0 0 0.3rem; }
          nav.toc .toggleNav .navGroup.navGroupActive ul li a::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 0;
            width: 0;
            border-bottom: 2px solid transparent;
            transition: .2s width; }
          nav.toc .toggleNav .navGroup.navGroupActive ul li a, nav.toc .toggleNav .navGroup.navGroupActive ul li a.navItemActive {
            color: #464e56; }
          nav.toc .toggleNav .navGroup.navGroupActive ul li a:hover::before, nav.toc .toggleNav .navGroup.navGroupActive ul li a.navItemActive::before {
            width: 100%;
            border-bottom-color: #14b2e2; }

.navSearchWrapper::before, .navSearchWrapper::after {
  display: none; }

@media only screen and (max-width: 735px) {
  .reactNavSearchWrapper {
    top: 15px; } }
.reactNavSearchWrapper input#search_input_react {
  height: 28px;
  font-size: 0.8rem;
  line-height: 28px; }
  .reactNavSearchWrapper input#search_input_react, .reactNavSearchWrapper input#search_input_react:focus, .reactNavSearchWrapper input#search_input_react:active {
    width: 234px;
    padding: 0 1rem;
    color: #464e56;
    background: #ddd; }
  .reactNavSearchWrapper input#search_input_react::placeholder {
    color: #94a1ad; }

code,
.hljs {
  box-shadow: none;
  background-color: rgba(136, 170, 185, 0.1); }

.hljs,
.hljs-subst {
  color: #464e56; }

.hljs-comment {
  color: #94a1ad; }

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #e54d42; }

.hljs-title,
.hljs-section {
  color: #aa2117; }

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #e9665d; }

.hljs-literal {
  color: #00c18d; }

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #008460; }

.hljs-meta {
  color: #0f86aa; }

.hljs-meta-string {
  color: #14b2e2; }

.button {
  border: none;
  text-transform: none; }
  .button:hover, .button:focus, .button:active {
    color: #464e56;
    text-decoration: underline !important;
    background: transparent; }

footer .sitemap {
  display: none; }

/*# sourceMappingURL=custom.css.map */
