.button {
    border: none;
    text-transform: none;

    &:hover,
    &:focus,
    &:active {
        color: $gd-color-text;
        text-decoration: underline !important;
        background: transparent;
    }
}

.button-link {
    text-decoration: underline;
}

a {
    color: $gd-color-highlight;
    transition: all 0.2s;

    &:hover,
    &:focus,
    &:active {
        color: $gd-color-text;
        text-decoration: underline;
    }
}
