.fixedHeaderContainer {
    height: 64px;
    padding: 0;
    background: $gray-3;

    header img,
    .logo {
        width: 116px;
        height: 34px;
    }

    header {
        height: 100%;
        align-items: center;

        > a {
            flex: 0 0 auto;
        }

        a {
            .logo {
                opacity: 0.9;
            }

            &:hover .logo {
                opacity: 1;
            }
        }

        h2,
        h3 {
            color: $gd-color-text;
        }

        h2 {
            font-size: 16px;
        }

        h3 {
            font-family: $gd-font-primary;
            font-size: 14px;

        }
    }
}

.navigationSlider {
    position: relative;
    flex: 1 1 auto;

    .slidingNav {
        ul {
            justify-content: center;

            @media only screen and (max-width: 735px) {
                margin-top: 64px;
                background-color: rgba(250,250,250,0.9);
            }

            @media only screen and (min-width: 736px) {
                margin-right: 218px;
            }
        }

        ul li {
            padding-left: 1.4rem;
            padding-right: 1.4rem;

            @media only screen and (min-width: 736px) {
                flex: 0 0 auto;
            }

            a {
                margin: 0;
                padding-left: 1.4rem;
                padding-right: 1.4rem;
                border-bottom: 2px solid transparent;
                color: transparentize($gd-color-dark, 0.3);
                font-size: 0.95rem;
                text-decoration: none;

                @media only screen and (max-width: 735px) {
                    height: 1.5rem;
                    padding-top: 0;
                    padding-bottom: 0;
                    line-height: 1.5rem;
                }

                @media only screen and (min-width: 736px) {
                    height: 4rem;
                    line-height: 4rem;
                }
            }

            a:focus,
            a:hover,
            &.siteNavItemActive a,
            &.siteNavGroupActive a {
                border-bottom-color: $gd-color-highlight;
                color: transparentize($gd-color-dark, 0.1);
                background: transparent;
                transition: all 100ms ease-in;
            }
        }
    }

    @media only screen and (min-width: 736px) {
        &,
        nav.slidingNav,
        .nav-site {
            height: 100%;
        }
    }
}

.navSearchWrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 218px;
}

.navPusher {
    padding-top: 88px;

    @media only screen and (min-width: 736px) {
        padding-top: 64px;
    }
}

footer.nav-footer {
    padding: 1rem 0;
    box-shadow: none;
    color: $gd-color-text-light;
    background-color: $gray-4;
}

h1,
.mainContainer .wrapper .post h1,
.mainContainer .wrapper .post h2,
.mainContainer .wrapper .post h3 {
    color: $gd-color-dark;
}

nav.toc .toggleNav .navGroup.navGroupActive {
    background: rgba(230, 230, 230, 1);

    h3 {
        background: linear-gradient(to bottom, #1e2025 0%, #0a0d14 100%);
    }
}
