.doc.separateOnPageNav .docsNavContainer {
    @media #{$medium-up} {
        flex: 0 0 290px;
        margin-right: 1rem;
    }
}

.docsSliderActive nav.toc .navBreadcrumb,
.doc.separateOnPageNav .docsNavContainer,
.navigationSlider .slidingNav ul {
    @media #{$medium-down} {
        z-index: 1;
        background: $gray-3;
    }
}

nav.toc {
    width: auto;

    .toggleNav {
        background: transparent;

        @media #{$medium-up} {
            padding: 1.25rem;
        }

        .navGroup.navGroupActive {
            margin-bottom: 1.25rem;
            box-shadow: 0 1px 2px 0 transparentize($gd-color-dark, 0.8);
            background: $gd-color-white;

            h3 {
                padding: 1.25rem 1.25rem 0;
                color: $gd-color-dark;
                font-size: 18px;
                font-weight: bold;
                background: transparent;
            }

            ul li {
                font-size: 16px;
                line-height: 22px;

                a {
                    position: relative;
                    margin: 0.5rem 1.25rem 0.2rem;
                    padding: 0 0 0.3rem;
                    text-decoration: none;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 0;
                        width: 0;
                        border-bottom: 2px solid transparent;
                        transition: .2s width;
                    }

                    &,
                    &.navItemActive {
                        color: $gd-color-text;
                    }

                    &:hover,
                    &.navItemActive {
                        &::before {
                            width: 100%;
                            border-bottom-color: $gd-color-highlight;
                        }
                    }
                }
            }
        }

        .navToggle {
            &::before {
                content: '+';
                width: 20px;
                height: 20px;
                border: none;
                color: $gd-color-state-blank;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                line-height: 20px;
                transform: none;

                .docsSliderActive & {
                    content: '-';
                }

                &,
                .docsSliderActive & {
                    margin-top: -11px;
                }
            }

            &::after,
            i {
                display: none;
            }
        }
    }
}

.onPageNav {
    @media #{$large-up} {
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top: 110px;
        flex: 0 0 290px;
        overflow-y: auto;
        max-height: calc(100vh - 110px);

        > ul {
            padding: 10px 0 2px 15px;
            border-left: 1px solid transparentize($gd-color-dark, 0.8);
        }

        a {
            color: $gd-color-text;
        }

        ul {
            li {
                padding-bottom: 12px;
                font-size: 12px;
                line-height: 14px;
            }

            ul {
                padding: 8px 0 0 20px;

                li {
                    padding-bottom: 8px;
                }
            }
        }
    }
}

.doc.separateOnPageNav {
    @media #{$large-up} {
        &.sideNavVisible .navPusher .mainContainer {
            flex: 1 auto;
            max-width: 100%;
            min-width: 0;
            padding: 0 40px 50px;
        }

        .docsNavContainer {
            flex: 0 0 290px;
            margin: 40px 0 0;
        }

        nav.toc:last-child {
            width: auto;
            padding-bottom: 0;
        }
    }
}
