body,
h1,
h2,
h3,
h4 {
    font-family: $gd-font-primary;
}

body,
.mainContainer {
    color: $gd-color-text;
    font-size: 16px;
}

h1, .mainContainer .wrapper .post .postHeader h1,
h2, .mainContainer .wrapper .post h2, .productShowcaseSection h2,
h3, .mainContainer .wrapper .post h3,
h4 {
    padding: 0;
    color: $gd-color-dark;
}

h1,
.mainContainer .wrapper .post .postHeader h1 {
    margin: 1rem 0 3rem 0;
    font-size: 3.125rem;
    font-weight: bold;

    small {
        margin: 0;
        font-size: 2rem;
        font-weight: normal;
        line-height: 2.75rem;
    }
}

h2,
.mainContainer .wrapper .post h2,
.productShowcaseSection h2 {
    margin: 2rem 0;
    font-size: 2.5rem;
    line-height: 3.4375rem;
}

h3,
.mainContainer .wrapper .post h3 {
    margin: 1.9rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.mainContainer .wrapper p,
.blockElement p {
    margin: 0.7rem 0;
    padding: 0;
}

strong {
    font-weight: bold;
}
